<div>
    <br>
    <mat-card>
      <section class="mat-typography">
        <h3>Update Issue</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        
        <mat-form-field class="field-full-width">
            <input matInput placeholder="Sales Name" formControlName="name" #name>
          </mat-form-field>
    
          <mat-form-field class="field-full-width">
            <input matInput placeholder="mail" formControlName="mail" #mail>
          </mat-form-field>
    
          <mat-form-field class="field-full-width">
            <input matInput placeholder="working route" formControlName="working_route" #working_route>
          </mat-form-field>
    
          <mat-form-field class="field-full-width">
            <input matInput placeholder="phone_no" formControlName="phone_no" #phone_no>
          </mat-form-field>
          
    
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
        <button type="submit" (click)="updateSales(name.value, mail.value, working_route.value, phone_no.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Save</button>
      </form>
    </mat-card>
  </div>
  